* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

main {
    width: 100%;
    max-width: 700px;
    margin: 10% 10% 10% 10%;
    padding: 0 20px;
}

.generator {
    background: #b2c3f1;
    box-shadow: rgba(0, 0, 0, 0.664) 5px 5px 10px 0px;
    border-radius: 5px;
    padding: 20px;
    height: 200px;
    margin: 0 auto;

}
    h2 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 20px;
    }

    input {
        width: 100%;
        padding: 10px;
        border: solid;
        border-color: rgb(253, 253, 253);
        border-radius: 5px;
        margin-bottom: 10px;
    }
        ::placeholder {
            font-size: 1rem;
            font-weight: 500;
        }

        /* buttons */
    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
    #generate {
        font-family: sans-serif;
        float: left;
        font-size: 15px;
        margin-top: 10px;
        border-color: rgb(253, 253, 253);
        border-radius: 5px;
        width: 155px;
        height: 30px;
        text-align: center;
    }
    #copy {
        font-family: sans-serif;
        float: right;
        font-size: 15px;
        margin-top: 10px;
        border-color: rgb(253, 253, 253);
        border-radius: 5px;
        width: 155px;
        height: 30px;
        text-align: center;
        
    }
    /* end buttons */



    @media screen and (max-width: 640px) {
        main {
            margin: 10% 5% 10% 5%;

        }
        .generator {
            height: 230px;
        }
        /* .buttons { */
            /* display: flex;
            flex-wrap: wrap;
            justify-content: center; */
        }
    
    
        
    